<div class="profilePage">
    {{{ sidebarArrowLink }}}
    <main class="profile__container">
        {{{ profileAvatar }}}
        <div class="profile__info">
        {{{ profileTable }}}
        </div>
        <ul class="profile__actions">
            {{{ profileActions }}}
        </ul>
    </main>
    {{{ modal  }}}
    {{{ pagesNavigation }}}
</div>
