<div class="profilePage">
    {{{ sidebarArrowLink }}}
    <div class="profile__container">
        {{{ profileAvatar }}}
        <div class="profile__info">
            <form class="profile__form editProfilePasswordForm" data-forEventName="formElement">
                {{{ formControls }}}
                <div class="editProfilePasswordForm__buttonWrap">
                    {{{ button }}}
                </div>
            </form>
        </div>
    </div>
    {{{ pagesNavigation  }}}
</div>


